<div class="container-fluid">
    <div class="first_section">
            <button class="info_btn" [routerLink]="['../home']"> Back to Home</button>
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h1 class="tm-brand-name">Professional Section</h1>
                    <p class="tm-brand-description mb-0">Kaumudinee Ibitkar</p>
                </div>
            </div>
        </div>
        <div class="tm-bg-white-transparent">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 ">
                        <h2 class="skills_title">Skills</h2>
                        <div class="skill-item">
                            <div class="progress-title">Angular 7+</div>
                            <div class="progress">
                                <div role="progressbar" style="width: 80%" aria-valuenow="70" aria-valuemin="0"
                                    aria-valuemax="100" class="progress-bar progress-bar-skill5"></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="progress-title">Javascript</div>
                            <div class="progress">
                                <div role="progressbar" style="width: 60%" aria-valuenow="70" aria-valuemin="60"
                                    aria-valuemax="100" class="progress-bar progress-bar-skill2"></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="progress-title">HTML5 Coding</div>
                            <div class="progress">
                                <div role="progressbar" style="width: 80%" aria-valuenow="0" aria-valuemin="60"
                                    aria-valuemax="100" class="progress-bar progress-bar-skill1"></div>
                            </div>
                        </div>

                        <div class="skill-item">
                            <div class="progress-title">CSS3 coding</div>
                            <div class="progress">
                                <div role="progressbar" style="width: 60%" aria-valuenow="80" aria-valuemin="0"
                                    aria-valuemax="100" class="progress-bar progress-bar-skill3"></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="progress-title">JQuery</div>
                            <div class="progress">
                                <div role="progressbar" style="width: 60%" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100" class="progress-bar progress-bar-skill4"></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="progress-title">Json</div>
                            <div class="progress">
                                <div role="progressbar" style="width: 80%" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100" class="progress-bar progress-bar-skill4"></div>
                            </div>
                        </div>
                        <div class="skill-item">
                            <div class="progress-title">Boostrap 3& 4</div>
                            <div class="progress">
                                <div role="progressbar" style="width: 70%" aria-valuenow="90" aria-valuemin="0"
                                    aria-valuemax="100" class="progress-bar progress-bar-skill4"></div>
                            </div>
                        </div>

                    </div>
                    <!-- Brown bg -->
                    <div class="col-md-6">
                        <div class="tm-welcome-right">
                            <h2 class="tm-welcome-title">My Role & Responsibilities </h2>
                            <div class="mb-0">
                                <ul>
                                    <li>Understanding client requirements and implementing responsive UI as well as
                                        cross-browser Screen for multiple devices as per client requirements and given
                                        MOCKups/wireframe/invison by using front end technologies to provide elegant
                                        more
                                        interactive and user views.</li>
                                    <li>Translating designs and wireframes into high quality code</li>
                                    <li>Optimizing components for maximum performance across a vast array of web-capable
                                        devices
                                        and browsers</li>
                                    <li>Actively involved in integrating APIs with frontend.</li>
                                    <li>Have experience in integrating third party APIs</li>
                                    <li>Basic features for WCAG implemented.</li>
                                    <li>I have worked in different domains like RealEsate, Educational,Funeral
                                        Management etc.</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container third_section">
            <h2 class="skills_title">Projects</h2>
        <div class="projects_section">
            <div>
                <div class="row">
                    <div class="col-12">
                        <div class="tm-portfolio-item">
                            <div class="tm-portfolio-name text-white tm-bg-orange">
                                BriskPay Payroll
                            </div>
                            <div class="tm-portfolio-description">
                                <h3 class="tm-text-orange">
                                    Internal project
                                </h3>
                                <span class="mb-0">
                                    Briskpay is an Employee Management System where we can manage all employee data
                                    including their personal, professional, statutory and leaves details. This
                                    application is robust and provides systematic management of employees as well.
                                </span>
                                <br />

                            </div>
                        </div>

                        <div class="tm-portfolio-item">
                            <div class="tm-portfolio-name text-white tm-bg-blue">
                                Account Payable System
                            </div>
                            <div class="tm-portfolio-description">
                                <h3 class="tm-text-blue">
                                    Client Project
                                </h3>
                                <span class="mb-0">
                                    Description: AP System is an integrated approach to handle all types of invoices
                                    coming towards Charted Accountant Firm. In this particular system , user has
                                    accessibility for following things depending upon defined roles and their respective
                                    functionalities.
                                    <br>
                                    • Document Uploading
                                    <br>
                                    • Indexing
                                    <br>
                                    • Processing
                                    <br>
                                    • Accounting
                                    <br>
                                    • Approvals
                                    <br>
                                    • Payment
                                </span>
                                <br />

                            </div>
                        </div>

                        <div class="tm-portfolio-item">
                            <div class="tm-portfolio-name text-white tm-bg-orange">
                                OffyAPP
                            </div>
                            <div class="tm-portfolio-description">
                                <h3 class="tm-text-orange">
                                    Client Project
                                </h3>
                                <span class="mb-0">
                                    It is Real Estate Property Management Web Application which is categorized into two
                                    types of users.
                                    <br>
                                    • Agent
                                    <br>
                                    • Buyer
                                    <br>
                                    Agent- Can publish and enlist his properties for sale with pictures, location ,map
                                    etc. Agent can also act as a buyer.
                                    <br>
                                    Buyer- Can see various properties and generate LETTER OF INTENT to desired property.
                                    Also he can contact to agent, save the interested properties to favorite list.

                                </span>
                                <br />

                            </div>
                        </div>
                        <div class="tm-portfolio-item">
                            <div class="tm-portfolio-name text-white tm-bg-blue">
                                Kaplan Prototype
                            </div>
                            <div class="tm-portfolio-description">
                                <h3 class="tm-text-blue">
                                    Client Project
                                </h3>
                                <span class="mb-0">
                                    Description:It is a revised approach to already existing web Application for PURDUE
                                    GLOBAL ONLINE UNIVERSITY. Existing web App had longest and time consuming student
                                    Registration process resulting into High Bounce Rate. This prototype mainly aimed to
                                    develope a short and effective registration process for students.
                                </span>
                                <br />

                            </div>
                        </div>

                        <div class="tm-portfolio-item">
                            <div class="tm-portfolio-name text-white tm-bg-orange">
                                Flash to HTML conversion
                            </div>
                            <div class="tm-portfolio-description">
                                <h3 class="tm-text-orange">
                                    Client Project
                                </h3>
                                <span class="mb-0">
                                    Description:Create the players, quiz, assignments etc. as they are in flash files
                                    using javascript, jquery. As flash player is going to be unsupported in coming time,
                                    we had replicated the stuff in HTML.
                                </span>
                                <br />

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>