<div class="container-fluid">
    <div class="first_section">
        <button class="info_btn" [routerLink]="['../home']"> Back to Home</button>
        <div class="row">
            <div class="col-12">
                <div class="section_title">
                    <h1 class="tm-brand-name">Personal Section</h1>
                    <p class="tm-brand-description mb-0">Kaumudinee Ibitkar</p>
                </div>
            </div>
        </div>
        <div class="tm-bg-white-transparent">
            <div class="container info_wrapper">
                <fieldset>
                    <legend>Basic Details</legend>
                    <div>
                        <label class="label"> Name: </label>
                        <span class="desc">Kaumudinee Sampatrao Ibitkar</span>
                    </div>
                    <div>
                        <label class="label">Mobile: </label>
                        <span class="desc">8857864274</span>
                    </div>

                </fieldset>
                <fieldset>
                    <legend>Address</legend>
                    <div>
                        <label class="label"> Current Address: </label>
                        <span class="desc">Neelkaml Housing society,kudale baug,vadgao BK-411041</span>
                    </div>
                    <div>
                        <label class="label"> Permanent Address: </label>
                        <span class="desc">New vidhyanagar colony,behind ITI,Ahmedpur, Dist-Latur- 413515</span>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Connect With Me</legend>
                    <div>
                        <label class="label">LinkedIn: </label>

                        <a href=""> https://www.linkedin.com/in/kaumudinee-ibitkar-61bb23a0/</a>
                    </div>
                    <div>
                        <label class="label">Gmail: </label>
                        <a href=""> Kaumudineeibitkar@gmail.com</a>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>

</div>